@model List<ResultAllBlogsWithAuthorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Bloglar</h4>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Başlık</th>
                                        <th>Yazar</th>
                                        <th>Kategori</th>
                                        <th>Tarih</th>
                                        <th>Sil</th>
                                        <th>Blogu Aç</th>
                                        <th>Yorumlar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.title</td>
                                            <td>@item.authorName</td>
                                            <td>@item.categoryID</td>
                                            <td>@item.createdDate.ToShortDateString()</td>
                                            <td>
                                                <a href="/Admin/Blog/RemoveBlog/@item.blogID" class="btn btn-outline-danger">Sil</a>
                                            </td>                                           
                                            <td>
                                                <a href="/Blog/BlogDetail/@item.blogID" class="btn btn-outline-dark">Blogu Aç</a>
                                            </td>
                                            <td>
                                                <a href="/Admin/Comment/Index/@item.blogID" class="btn btn-outline-warning">Yorumlar</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/Blog/CreateBlog/" class="btn btn-outline-primary">Yeni Blog Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

